<!Doctype HTML>
  <html>
  <head>
        {% load static %}
    <title>Agro-Help</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png'%}">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/1c0fada2a2.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'admin/admin-menu.css' %}">
  </head>


  <body>

    <div id="mySidenav" class="sidenav">
    <p class="logo"><span>A</span>gro-<span>H</span>elp</p>
    <a href="{% url 'adminMenu' %}" class="icon-a"><i class="fa-solid fa-chart-line"></i>   Dashboard</a>
    <a href="{% url 'usersList' %}" class="icon-a"><i class="fa fa-users icons"></i>   Customers</a>
    <a href="{% url 'productsList' %}" class="icon-a"><i class="fa-brands fa-product-hunt"></i>   Products</a>
    <a href="{% url 'ordersList' %}" class="icon-a"><i class="fa-solid fa-cart-shopping"></i>   Orders</a>
       <a href="{% url 'schemesList' %}" class="icon-a"><i class="fa-solid fa-list"></i>   Schemes</a>
    <a href="{% url 'agroBasicList' %}" class="icon-a"><i class="fa-solid fa-wheat-awn"></i>   Agro Basics</a>
    <a href="{% url 'adminList' %}" class="icon-a"><i class="fa-solid fa-user-shield"></i>   Admins List</a>
   <a href="{% url 'feedbacksList' %}" class="icon-a"><i class="fa-solid fa-comments"></i>   Feedbacks</a>
   <a href="{% url 'adminGrassCuttersList' %}" class="icon-a"><i class="fa-solid fa-list-ol"></i>   Grass Cutters List</a>
   <a href="{% url 'subscribersList' %}" class="icon-a"><i class="fa-solid fa-list-check"></i>   Subscribers List</a>
   <a href="{% url 'adminLogout' %}" class="icon-a"><i class="fa fa-sign-out" aria-hidden="true"></i>   Logout</a>

  </div>
  <div id="main">

    <div class="head">
      <div class="col-div-6">
  <span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >☰ Dashboard</span>
  <span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ Dashboard</span>
  </div>

    <div class="col-div-6">
    <div class="profile">

      <img class="avatar" src="{% static 'images/avatar.svg' %}">
      <p>{{request.user.first_name}}<span>Admin</span></p>


    </div>
  </div>
    <div class="clearfix"></div>
  </div>

    <div class="clearfix"></div>
    <br/>

    <div class="col-div-3">
      <div class="box">
        <p>{{customers}}<br/><span>Customers</span></p>
        <i class="fa fa-users box-icon"></i>
      </div>
    </div>
    <div class="col-div-3">
      <div class="box">
        <p>{{products}}<br/><span>Products</span></p>
        <i class="fa fa-list box-icon"></i>
      </div>
    </div>
    <div class="col-div-3">
      <div class="box">
        <p>{{orders}}<br/><span>Orders</span></p>
        <i class="fa fa-shopping-bag box-icon"></i>
      </div>
    </div>
    <div class="col-div-3">
      <div class="box">
        <p>{{applications}}<br/><span>Applications</span></p>
        <i class="fa fa-tasks box-icon"></i>
      </div>
    </div>
    <div class="clearfix"></div>
    <br/><br/>
    <div class="col-div-8">
      <div class="box-8">
      <div class="content-box">
        <p>Feedbacks <a href="{% url 'feedbacksList' %}" style="color:#fff;margin:0 3px;">See All</a></p>
        <br/>
        <table>
            {% if feedbacks %}
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Opinion</th>
    </tr>

          <tr>
            <td>{{feedbacks.user.user.first_name}}</td>
            <td>{{feedbacks.rating}}</td>
            <td>{{feedbacks.opinion}}</td>
          </tr>
    {% else %}
          <p style="text-align:center;">No feedbacks.</p>
    {% endif %}

  </table>
      </div>
    </div>
    </div>

    <div class="col-div-4">
      <div class="box-4">
      <div class="content-box">
        <p>Total Sale <a href="{% url 'ordersList' %}" style="color:#fff;margin:0 3px;">See All</a></p>

        <div class="circle-wrap">
      <div class="circle">
        <div class="mask full">
          <div class="fill"></div>
        </div>
        <div class="mask half">
          <div class="fill"></div>
        </div>
        <div class="inside-circle"> {{orders}}% </div>
      </div>
    </div>
      </div>
    </div>
    </div>

    <div class="clearfix"></div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

    $(".nav").click(function(){
      $("#mySidenav").css('width','70px');
      $("#main").css('margin-left','70px');
      $(".logo").css('visibility', 'hidden');
      $(".logo span").css('visibility', 'visible');
       $(".logo span").css('margin-left', '-10px');
       $(".icon-a").css('visibility', 'hidden');
       $(".icons").css('visibility', 'visible');
       $(".icons").css('margin-left', '-8px');
        $(".nav").css('display','none');
        $(".nav2").css('display','block');
    });

  $(".nav2").click(function(){
      $("#mySidenav").css('width','300px');
      $("#main").css('margin-left','300px');
      $(".logo").css('visibility', 'visible');
       $(".icon-a").css('visibility', 'visible');
       $(".icons").css('visibility', 'visible');
       $(".nav").css('display','block');
        $(".nav2").css('display','none');
   });

  </script>

  </body>


  </html>