<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Agro Help</title>
             <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png'%}">
        <link rel="stylesheet" href="https://fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/1c0fada2a2.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'team.css' %}">
    </head>
    <body>
        <section>
            <div class="container">
                <h1 class="heading">Meet The Team</h1>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/green-tea-bud-leaves-green-tea-plantations-morning_335224-955.jpg?w=2000" alt="card background" class="card-img">
                        <img src="{% static 'images/Anusha N.jpg'%}" alt="profile image" class="profile-img">
                        <h1>Anusha N</h1>
                        <p class="job-title">Full Stack Developer</p>
                        <p class="about">Currently pursuing Bachelors degree in Computer Science and Engineering at
                            SDM Institute of Technology Ujire.
                        </p>
                        <a href="mailto:anushaneeraje@gmail.com" class="btn">Contact</a>
                        <ul class="social-media">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/green-tea-bud-leaves-green-tea-plantations-morning_335224-955.jpg?w=2000" alt="card background" class="card-img">
                        <img src="{% static 'images/Archana A Billava.jpeg'%}" alt="profile image" class="profile-img">
                        <h1>Archana A Billava</h1>
                        <p class="job-title">Full Stack Developer</p>
                        <p class="about">Currently pursuing Bachelors degree in Computer Science and Engineering at
                            SDM Institute of Technology Ujire.
                        </p>
                        <a href="mailto:archanaabillava0154@gmail.com" class="btn">Contact</a>
                          <ul class="social-media">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/green-tea-bud-leaves-green-tea-plantations-morning_335224-955.jpg?w=2000" alt="card background" class="card-img">
                        <img src="{% static 'images/M S Keshu.jpeg'%}" alt="profile image" class="profile-img">
                        <h1>M S Keshu</h1>
                        <p class="job-title">Full Stack Developer</p>
                        <p class="about">Currently pursuing Bachelors degree in Computer Science and Engineering at
                            SDM Institute of Technology Ujire.
                        </p>
                        <a href="mailto:mskeshu0311@gmail.com" class="btn">Contact</a>
                          <ul class="social-media">
                            <li><a href="https://www.facebook.com/mskeshu.kesh.9"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/MSKeshu3"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/m-s-keshu-3577941a5/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/chowkidar_keshu/"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="card">
                        <img src="https://img.freepik.com/free-photo/green-tea-bud-leaves-green-tea-plantations-morning_335224-955.jpg?w=2000" alt="card background" class="card-img">
                        <img src="{% static 'images/Bharath.png'%}" alt="profile image" class="profile-img">
                        <h1>Bharath S R</h1>
                        <p class="job-title">Full Stack Developer</p>
                        <p class="about">Currently pursuing Bachelors degree in Computer Science and Engineering at
                            SDM Institute of Technology Ujire.
                        </p>
                        <a href="mailto:bharathrajb26@gmail.com" class="btn">Contact</a>
                          <ul class="social-media">
                            <li><a href="https://www.facebook.com/bharathraj.bharathraj.9803"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Bharath24439863"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/bharath-s-r-24a4801a7/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/bharath__vasishtha"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>