 <title>Agro-Help</title>{% load static %} <link rel="stylesheet"  href="{% static 'user/crop-price.css' %}"><table border="1" cellspacing="1" id="_ctl0_content5_Table1" style="position:static;Font-Size:12pt;">
<tr>
<td style="width: 100px; text-align: center">
                Market
            </td>
<td style="width: 100px; text-align: center">
                Market Date</td>
<td style="width: 100px; text-align: center">
                Variety</td>
<td style="width: 100px; text-align: center">
                Arrivals</td>
<td style="width: 100px; text-align: center">
                Minimum Price</td>
<td style="width: 100px; text-align: center">
                Maximum Price</td>
<td style="width: 100px; text-align: center">
                Modal Price</td>
</tr>
<tr>
<td>BASAVAKALYANA</td>
<td>21/07/2022</td>
<td>Mexican</td>
<td>3</td>
<td>2251</td>
<td>2600</td>
<td>2390</td>
</tr>
<tr>
<td>BASAVAKALYANA</td>
<td>21/07/2022</td>
<td>Mill Wheat</td>
<td>72</td>
<td>2380</td>
<td>2550</td>
<td>2450</td>
</tr>
<tr>
<td>BENGALURU</td>
<td>21/07/2022</td>
<td>Local</td>
<td>85</td>
<td>3000</td>
<td>3200</td>
<td>3100</td>
</tr>
<tr>
<td>BIDAR</td>
<td>21/07/2022</td>
<td>Red</td>
<td>25</td>
<td>2000</td>
<td>3200</td>
<td>2800</td>
</tr>
<tr>
<td>ENDI</td>
<td>19/07/2022</td>
<td>Mill Wheat</td>
<td>193</td>
<td>2600</td>
<td>2650</td>
<td>2625</td>
</tr>
<tr>
<td>GADAG</td>
<td>21/07/2022</td>
<td>White</td>
<td>19</td>
<td>1939</td>
<td>2927</td>
<td>2274</td>
</tr>
<tr>
<td>HUBBALLI</td>
<td>21/07/2022</td>
<td>Local</td>
<td>4</td>
<td>1600</td>
<td>1600</td>
<td>1600</td>
</tr>
<tr>
<td>KALABURAGI</td>
<td>21/07/2022</td>
<td>Sharabathi</td>
<td>10</td>
<td>2000</td>
<td>2800</td>
<td>2550</td>
</tr>
<tr>
<td>MYSURU</td>
<td>18/07/2022</td>
<td>Local</td>
<td>100</td>
<td>3111</td>
<td>3111</td>
<td>3111</td>
</tr>
<tr>
<td>RAMDURGA</td>
<td>17/07/2022</td>
<td>Local</td>
<td>18</td>
<td>2300</td>
<td>2300</td>
<td>2300</td>
</tr>
<tr>
<td>SHIVAMOGGA</td>
<td>21/07/2022</td>
<td>Medium</td>
<td>10</td>
<td>2500</td>
<td>2900</td>
<td>2700</td>
</tr>
<tr>
<td>VIJAYAPURA</td>
<td>21/07/2022</td>
<td>Sona</td>
<td>75</td>
<td>2200</td>
<td>2500</td>
<td>2350</td>
</tr>
<tr>
<td>VIJAYAPURA</td>
<td>18/07/2022</td>
<td>Mill Wheat</td>
<td>81</td>
<td>2500</td>
<td>2550</td>
<td>2525</td>
</tr>
</table>